
.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: rgb(24,24,24);
    color: rgb(209,209,209);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 6px 0;
    margin-top: 0;

    > i {
        font-size: 15px;
        cursor: pointer;
    }

    > p {
        cursor: pointer;
    }
}

.hero {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

video {
    display: block;
}
